/* Reset și font */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Arimo", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Container formular */
#noteFormContainer {
    background-color: rgba(77, 65, 46, 0.85);
    border-radius: 50px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

#noteFormContainer:hover {
    box-shadow: 0 0 12px 3px white;
}


#noteFormContainer h2 {
    text-align: center;
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
}


#userContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.casete {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #827265;
    color: white;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

textarea.casete {
    min-height: 300px;
    max-height: 300px;
    resize: vertical;
}


input::placeholder,
textarea::placeholder {
    color: #e0e0e0;
}


textarea:hover, input:hover
{
    box-shadow: 0 0 9px 3px white;
    outline: none;
}

textarea:focus, input:focus
{
    box-shadow: 0 0 9px 3px white;
    outline: none;
}

textarea::placeholder
{
    font-family: "Arimo", "sans-serif";
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /*flex-wrap: wrap;*/
}

.buttons button,
.buttons .cancelBtn {
    flex: 1;
    min-width: 120px;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
}


.buttons button {
    background-color: white;
    color: #827265;
}

.buttons button:hover {

    box-shadow: 0 0 9px 3px white;
    outline: none;
}


.buttons .cancelBtn {
    background-color: #827265;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons .cancelBtn:hover {
    box-shadow: 0 0 9px 3px white;
    outline: none;
}

.buttons .deleteBtn {
    flex: 1;
    min-width: 50px;
    padding:0;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons .deleteBtn:hover {
    box-shadow: 0 0 9px 3px red;
    outline: none;
}
