<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
          rel="stylesheet">
</head>
<body>

<img class="backgroundImg" src="/assets/backgroundMain.png" alt="background">

<form class="register_form" action="/register"  method="post">
    <h2>Welcome to Note-IT App</h2>


    <h1>Create an account</h1>
    <input class="casete" type="text" name="email" id="email" placeholder="Email" >
    <input class="casete" type="text" name="username" id="username" placeholder="Username" >
    <input class="casete" type="password" name="password" id="password" placeholder="Password" >
    <input class="casete" type="password" name="repeatedPassword" id="repeatPassword" placeholder="Repeat password" >
    <button class="casete" id="submitBtn" type="submit">Register</button>
    <p  id="submitTxt">Already have an account? Login&nbsp;<a href="/login">here</a></p>
    <ul id="errorTxt">
        <li th:each="err : ${regErrorBackend}" th:text="${err}"></li>
    </ul>


</form>




<script src="/js/register.js"></script>

</body>
</html>
